body {
    font-family: sans-serif;
    font-size: 1.6em;
}

div {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;    
}

#chasis_calculadora {
    height: 30em;
    text-align: center;
    float: left;
  }

#display{
    overflow: auto;
    margin: 5%; 
    outline: solid 1px #d7d9dd;
}

.pantallas, #boton_cero {
    float: left;
    padding: 0 0.25em;
    height: 1em;
    width: 90%;
    font-size: 2em;
    overflow: hidden;
}

#pantallaInferior {
    width: 100%;
}

#boton_cero, .pantallas{
    padding: 0.25em 0;
}

.pantallas {
    text-align: right;
}

#cambiarModo {
    background-color: #dfe1e5;
    outline: white solid 1px;
    width: 90%;
    margin: 0 5%;
    padding: 2.5% 0;
    float: left;
  }
  #cambiarModo:hover {
    background-color: #d7d9dd;
  }

.panel {
    float: left;
    height: 50%;
}

#panel_botones {
    margin: 0% 5% 0% 0%;
    width: 55%;
}

#panel_botones_lateral {
    margin: 0% 0% 0% 5%;
    width: 35%;
}

.panel div {
    float: left;
    padding: 1em 0;
    height: 1em;
    outline: white solid 1px;
}

#panel_botones_lateral div {
    width: 50%;
}
#panel_botones div {
    width: 25%;
}

div.boton_numero {
    background-color: #f1f3f4;
}
div.boton_numero:hover {
    background-color: #e8eaeb;
}
div.boton_operacion, div.boton_funcion {
    background-color: #dfe1e5;
}
div.boton_operacion:hover, div.boton_funcion:hover {
    background-color: #d7d9dd;
}
#panel_botones div.boton_calcular {
    background-color: #4285f4;
    color: white;
    width: 50%;
}
#panel_botones div.boton_calcular:hover {
    background-color: #5194ff;
}