body {
    font-family: sans-serif;
    font-size: 1.6em;
}

div {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;    
}

#chasis_calculadora {
    width: 45%;
    height: 30em;
    text-align: center;
    float: left;
    position: relative;
    left: 25%;
    background-color: white;
    overflow: visible;
}

#panel_pantalla {
    margin: 5%;
    float: left;
    overflow: visible;
    width: 90%;
    outline: #d7d9dd solid 1px;
}

#panel_pantalla div {
    float: left;
    font-size: 1.6em;
    padding: 0.3em 5% 0.3em 5%;
    height: 1em;
    width: 90%;
    overflow: hidden;
}

#panel_pantalla div#boton_cero{
    width: 10%;
    border-right: none;
    padding-left: unset;
    padding-right: unset;
}

.pantallas {
    text-align: right;
}

.panel {
    float: left;
    height: 17.6em;
}

#panel_botones {
    margin: 0% 5% 0% 0%;
    width: 55%;
}

#panel_botones_lateral {
    margin: 0% 0% 0% 5%;
    width: 35%;
}

.panel div {
    float: left;
    padding: 1em 0 1em 0;
    height: 1em;
    outline: white solid 1px;
}

#panel_botones_lateral div {
    width: 50%;
}
#panel_botones div {
    width: 25%;
}

div.boton_numero {
    background-color: #f1f3f4;
}
div.boton_numero:hover {
    background-color: #e8eaeb;
}
div.boton_operacion {
    background-color: #dfe1e5;
}
div.boton_operacion:hover {
    background-color: #d7d9dd;
}
#panel_botones div.boton_calcular {
    background-color: #4285f4;
    color: white;
    width: 50%;
}
#panel_botones div.boton_calcular:hover {
    background-color: #5194ff;
}

#lienzo{
    width: 0px;
    height: 0px;
}